/* font import */
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Allura&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Agdasima', sans-serif;*/
/* font-family: 'Allura', cursive; */


/* css resets*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    position: sticky;
    top: 0;
    left: 0;
    /* background-color:rgb(206, 211, 217,.5); */
    background-color:rgba(250, 250, 250,.5);
    /* background-color: #f2f2f2; */
}
.navigation .logo {
    font-size: 2rem;
text-transform: capitalize;
font-family: 'Agdasima', sans-serif;
font-weight: 700;
/* text-shadow: -3px 1px 5px blue, 3px 1px 10px  red; */
color:rgb(43, 44, 43);
}

.navbar {
    display: flex;
    list-style: none;
    font-family: 'Agdasima', sans-serif;
    font-size: 1.2rem;
    text-transform: capitalize;
    cursor: pointer;
    column-gap: 20px;
}
.navbar .navlink{
    position: relative;
    padding: 2px 20px;
    font-weight: 400;
    color: black;
    transition: all .3s ease;
}

.navbar .navlink:hover{
    color: brown;
}
.navbar .navlink::after{
    content: "";
    height: 3px;
    width: 0%;
    position: absolute;
    background-color: brown;
    top: 100%;
    left: 0;
    transition: width .3s ease;
}
.navbar .navlink:hover::after{
    width: 50%;
}
