@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    background-color: #4E4FEB;
}
.mainSection{
    background-color: #fff;
    width: 55%;
    height: 70vh;
    margin: 100px auto;
    border-radius: 2rem;
    display: flex;
    gap: 1rem;
    overflow: hidden;
    padding: 1.25rem;
}

.leftBox{
    flex-basis: 55%;
    padding-inline: 1rem .5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.5rem;
}
.leftBox form{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.leftBox h1{
    font-size: 2.5rem;
}
.leftBox p{
    font-size: .9rem;
}
.leftBox ul{
    list-style: none;
}
.leftBox ul li{
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-size: .9rem;
    font-weight: 500;
}
.inputField{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.inputField label{
    font-size: .8rem;
    margin-bottom: 5px;
    font-weight: 500    ;
}
.inputField .input{
    height: 49px;
    border-radius: .5rem;
    padding-inline: 20px;
    outline: none;
    border: none;
    border: 1px solid #B2B2B2;
}
.inputField .input:focus{
    outline: none;
}
.leftBox ul li .tick{
    background-color: #FF2171;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    padding: 1px;
    color: #fff;
}
button{
    width: 100%;
    background-color: #251B37;
    height: 49px;
    border-radius: .5rem;
    color: #fff;
    font-weight: 600;
    font-size: .9rem;
    border: none;

}

.rightBox{
    flex-basis: 45%;
    background-image: url(/src/assets/hero.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
}


/* validation page */
.validationBox{
    background-color: #fff;
    width: 35%;
    margin: 100px auto;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
    padding: 2rem 3rem;
}
.validationBox .tick{
    font-size: 2.2rem;
    padding: .2rem;
    border-radius: 50%;
    color: #fff;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #FF2171;

}
.validationBox h1{
    font-size: 2.5rem;
    font-weight: 600;
}
.validationBox p{
    font-size: .9rem;
}
.validationBox .email{
    font-weight: 600;
}

@media screen and (max-width: 1200px) {
    .leftBox h1{
        font-size: 2.2rem;
    }
    .leftBox{
        row-gap: 1.2rem;
    }
 
}
@media screen and (max-width: 960px) {
    .leftBox h1{
        font-size: 2rem;
    }
    .leftBox{
        row-gap: 1rem;
    }
    .leftBox form{
        row-gap: 10px;
    }
    .validationBox h1{
        font-size: 2rem;
        font-weight: 600;
    }
    .validationBox{
        width: 40%;
        }
    
}
@media screen and (max-width: 799px) {
    .mainSection{
    width: 55%;
        display: flex;
        flex-direction: column-reverse;
    
    }
    .leftBox {
        flex-basis: 50%;
    }
    .leftBox h1{
        font-size: 2rem;
    }
    .leftBox{
        row-gap: 1rem;
    }
    .leftBox form{
        row-gap: 10px;
    }
    .rightBox{
        flex-basis: 50%;
    }
    .validationBox{
        width: 50%;
        }
}
@media screen and (max-width: 699px) {
    .mainSection{
    width: 60%;
        display: flex;
        flex-direction: column-reverse;
    
    }
    .validationBox{
        width: 60%;
        }
}
@media screen and (max-width: 599px) {
    .mainSection{
    width: 70%;
        display: flex;
        flex-direction: column-reverse;
    
    }
    .validationBox{
        width: 70%;
        }
}
@media screen and (max-width: 499px) {
    .mainSection{
    width: 80%;
        display: flex;
        flex-direction: column-reverse;
    
    }

    .validationBox{
        width: 80%;
        }
}
@media screen and (max-width: 399px) {
    .mainSection{
    width: 90%;
        display: flex;
        flex-direction: column-reverse;
    
    }
    .validationBox{
        width: 90%;
        }
}
@media screen and (max-width: 299px) {
    .mainSection{
    width: 100%;
        display: flex;
        flex-direction: column-reverse;
    
    }
    .validationBox{
        width: 100%;
        }
}